a
{
  cursor:pointer ;
}
.PageAddNote{
    position: absolute !important;
    /* display: none; */
    left: 50% !important;
    top: 10% !important;
    right: 50% !important;
    width: 30rem !important;
}
/* style={{width:"30rem"}}  */

@media (max-width: 576px)
{

  .PageAddNote
  {
    color: black !important;
    width:20rem !important ;
    left: 10% !important;
    top: 25% !important;
  };
  
}


.hnotes
{
    width:19rem !important;
    display: noe !important;
    height: 15rem !important;
    box-shadow: 10px 10px ;
}
.readbe
{
  scroll-behavior:smooth !important;
  height: 550%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.253);
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
